/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font */
body {
  font-family: 'Montserrat', sans-serif;
}

/* clearfix */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* layover da applicare alle img */
.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
}

.container {
  width: 80%;
  margin: auto;
}

/* header */
header {
  margin-bottom: 35px;
}

header img.logo {
  width: 15%;
  padding-right: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

nav {
  padding-top: 25px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: #858585;
  text-transform: uppercase;
  margin: 0 8px;
}
/* fine header */

/* banner */
section.banner {
  margin-bottom: 20px;
  position: relative;
}

section.banner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.banner .banner-text {
  width: 50%;
  position: absolute;
  left: 50px;
  bottom: 70px;
  color: white;
}

.banner-text h4 {
  font-size: 30px;
  font-weight: normal;
}
/* fine banner */

/* titolo sezione */
section.title {
  padding: 15px 0;
}

section.title h2 {
  font-size: 37px;
}

section.title .subtitle {
  color: #929292;
}
/* fine titolo sezione */

/* blocco di 3 colonne */
section.row {
  padding: 15px 0;
}

.row .column {
  float: left;
  color: #929292;
  font-size: 14px;
}

.row .col-left, .row .col-right {
  width: 19%;
}

.row .col-center {
  width: 60%;
  margin: 0 1%;
}

.container-img {
  position: relative;
  border-radius: 10px;
}

.row .column img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.row .column h4 {
  padding: 15px 0;
  font-weight: 600;
}
/* fine blocco di 3 colonne */

/* piè di pagina */
footer {
  margin: 30px;
  text-align: center;
}

footer .heart {
  color: red;
  font-size: 22px;
}
/* piè di pagina */
