* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 80%;
  margin: auto;
}

/* header */
header {
  margin-bottom: 35px;
}

header img.logo {
  width: 15%;
  padding-right: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

nav {
  padding-top: 25px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: #858585;
  text-transform: uppercase;
  margin: 0 8px;
}
/* fine header */

/* banner */
section.banner {
  margin-bottom: 20px;
  position: relative;
}

section.banner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.banner .overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
}
/* fine banner */

section.title {
  background-color: #abcfe7;
  height: 70px;
}

section.row {
  background-color: #0186ff;
  padding: 15px 0;
}

.row .column {
  float: left;
  height: 500px;
  background-color: #abcfe7;
}

.row .col-left {
  width: 24%;
}

.row .col-center {
  width: 50%;
  margin: 0 1%;
}

.row .col-right {
  width: 24%;
}

footer {
  height: 50px;
  background-color: #8801fe;
  margin-top: 5px;
}
